
.gridContainer {
  display: grid;
  height: 100%;
  grid-template-areas:
    "left top top"
    "left bottom1 bottom2";
  gap: 10px;
  padding: 80px 0 80px 0;
}
.gridContainer > div {
    padding: 24px;
    gap: 5px;
}
.gridContainer > div > .green{
    color: var(--sea-green)
}
#img0 {
    grid-area: left;
    background-image: url(/card-cover-5.svg);
    background-size: cover;
    background-position: center;
    
}

#img1 {
    grid-area: top;
    background-image: url(/card-cover-6.svg);
    background-size: cover;
    background-position: center;
    
}
#img2{
    grid-area: bottom1;
    background-image: url(/card-cover-7.svg);
    background-size: cover;
    background-position: center;
}
#img3{
    grid-area: bottom2;
    background-image: url(/card-cover-8.svg);
    background-size: cover;
    background-position: center;
}