@import "../../App.css";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  padding-top: 10px;
  padding-left: 38px;
}

nav .brand {
  display: flex;
  font-weight: 700;
  width: 20%;
  padding-left: 16px;
  padding-right: 16px;
}

nav .listMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ulButton {
  gap: 0;
}

.btnSM20 {
  color: var(--button-blue);
}
