h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: var(--yankee-blue);
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--yankee-blue);
}
h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  color: var(--yankee-blue);
}
h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--gray);
}
.btnSM20 {
  display: flex;
  padding: 15px;
  gap: 5px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: center;
  color: var(--button-blue);
  outline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

Button {
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}

Button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  background-color: #ccc; /* Grayed-out appearance */
  color: #888; /* Text color */
  border: 1px solid #aaa; /* Border style */
}

svg {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}
a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
ul li a {
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);
}

svg {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

small {
  display: flex;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px 0;
  gap: 24px;
}
.container .title {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

/* Section stylings */
.hero {
  position: relative;
  margin: 0 147px;
  height: 776px;
  top: 4px;
}
.sectionProducts {
  margin: 0 158px;
}
.sectionServices,
.sectionFeatPost {
  margin: 0 195px;
}
