
/* flexbox and grid */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

/* height and width */
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.w-1 {
  width: 10%;
}
.w-2 {
  width: 20%;
}
.w-3 {
  width: 30%;
}
.w-4 {
  width: 40%;
}
.w- {
  width: 50%;
}
.w-6 {
  width: 60%;
}
.w-7 {
  width: 70%;
}
.w-8 {
  width: 80%;
}
.w-9 {
  width: 90%;
}
/* text align and transformation */
.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-yankee-blue {
  color: var(--yankee-blue);
}
.text-sea-green {
  color: var(--sea-green);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--color-default-black);
}
.text-button-blue {
  color: var(--button-blue);
}

/* font weights */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* letter spacing */
.letter-spacing {
  letter-spacing: 0.2px;
}

.letter-spacing-sm {
  letter-spacing: 0.1px;
  line-height: normal;
}

.line-height-1 {
  line-height: 24px;
}
.line-height-2 {
  line-height: 32px;
}
.line-height-3 {
  line-height: 50px;
}

/* margin and padding */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-7 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 10px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}
.px-5 {
  padding-left: 48px;
  padding-right: 48px;
}
.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}
.px-7 {
  padding-left: 72px;
  padding-right: 72px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}
.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-3 {
  margin-left: 16px;
  margin-right: 16px;
}
.mx-4 {
  margin-left: 24px;
  margin-right: 24px;
}
.mx-5 {
  margin-left: 48px;
  margin-right: 48px;
}
.mx-6 {
  margin-left: 60px;
  margin-right: 60px;
}
.no-wrap {
  white-space: nowrap;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

input,
textarea,
select {
  outline: 0;
  border: none;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  
}
